@import "@/stylesheets/_vars.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.listItem {
  flex-basis: calc((100% - 120px) / 5);
  height: 200px;

  box-shadow: $shadow;
  border-radius: 10px;
}
