@import "@/stylesheets/_vars.scss";

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding-left: 10px;

  list-style-type: square;
  color: $accentCl;

  @media screen and (min-width: $tabletWidth) {
    padding-left: 50px;
  }
}

.number {
  font-size: 20px;
  font-weight: 700;
}

.text {
  display: flex;
  flex-direction: column;

  text-align: left;
  font-size: 18px;
  color: $mainTextCl;

  @media screen and (min-width: 420px) {
    flex-direction: row;
    gap: 10px;
  }
}

.correct {
  color: $correctCl;
}

.incorrect {
  color: $incorrectCl;
}
