// color
$mainTextCl: rgba(255, 255, 255, 0.87);
$accentCl: #646cff;

$mainBgCl: #242424;

// decor
$borderCl: #646cff;
$shadow: 0px 5px 10px 1px #646cff;
$correctCl: #348631;
$incorrectCl: #ac2f2f;
$bgColor: #646cff;

// transition
$transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1);

// breakpoints
$desktopWidth: 1280px;
$mobileWidth: 320px;

// extra
$tabletWidth: 768px;
